body {
    text-align: left;
    background-color: #FFFBF5;
}

.main {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 25px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skills>span {
    margin: 5px;
    background: #C3ACD0;
    color: #FFFBF5;
    padding: 5px 10px;
    border-radius: 25px;
}

h1 {
    text-align: center;
}

.description {
    text-align: justify;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.text-align-right {
    text-align: right;
}

.h3-details {
    color: #674188;
    font-weight: bold;
    margin-top: -15px;
}
.h3-up {
    margin-top: -10px;
}

section{
    margin-bottom: 25px;
}

